body {
    background-color: #e6ffee;
    font-family: Tahoma;
}

#headd {
    width: 1000px;
    height: 100px;
    border: solid 1px Green;
    margin: 0 auto;
    text-align: center;
}

#headdd {
    width: 1000px;
    height: 70px;
    border: solid 1px Green;
    margin: 0 auto;
    text-align: center;
}

#main {
    width: 1000px;
    height: 700px;
    border: solid 1px Green;
    margin: 0 auto;
}

#mainn {
    width: 1000px;
    height: 700px;
    border: solid 1px Green;
    margin: 0 auto;
}

#left {
    float: left;
    width: 200px;
    height: 700px;
}

#right {
    float: right;
    width: 796px;
    height: 700px;
}

#foot {
    width: 1000px;
    height: 100px;
    border: solid 1px Green;
    margin: 0 auto;
    background: Green;
    color: #fff;
    text-align: center;
    vertical-align: middle;
}

#login {
    width: 300px;
    height: 200px;
    border: solid 0px Green;
    margin: 0 auto;
    margin-top: 120px;
}


#acc {
    width: 190px;
    height: 120px;
    border: solid 1px Green;
    float: left;
    margin: 20px;
    background: linear-gradient(Green 80%, #ffff66);
}

.acc {
    height: 30px;
    border-bottom: solid 2px #fff;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    color: #fff;
    padding-top: 1px;
}

.acc1 {
    font-weight: bold;
    text-align: center;
    font-size: 42px;
    color: #fff;
    padding-top: 2px;
}


.tbllogin {
    width: 100%;
    border: solid 1px Green;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0px 5px 6px 2px #ccc;
}

.tblloginhead {
    height: 30px;
    font-size: medium;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background: Green;
}

.lbl {
    text-align: right;    
    color: Green;
}

.txt {
    border: solid 1px Green;
    padding-left: 3px;
    background: #e6ffee;
    margin-right: 54px;
}

.btn {
    background: Green;
    border: solid 2px Green;
    color: #fff;
    font-weight: bold;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 0px;
    margin-left: 0px;
}

    .btn:hover {
        background: #f4f4f4;
        border: solid 2px Green;
        color: Green;
        font-weight: bold;
    }

.tbl {
    width: 100%;
    border: solid 1px Green;
}

.tblhead {
    height: 30px;
    font-size: medium;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background: Green;
}

.mnu {
    border: solid 2px Green;
    color: Green;
    text-align: center;
    font-size: medium;
    font-weight: bold;
    height: 45px;
    width: 200px;
    background: #e6ffee;
    cursor: pointer;
    /*transition: all 1s ease;*/
}

    .mnu:hover {
        border: solid 5px yellow;
        color: #fff;
        text-align: center;
        font-size: medium;
        font-weight: bold;
        height: 45px;
        background: Green;
    }
